html {  
    font-size: 10px;
    font-family: 'Comic Sans MS';
}
p, li { 
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
}
html {
    background-color: #3a4028;
}
#GLAV1{
    margin-left: -10em;
    margin-bottom: -2em ;
    margin-top: 20em;
    padding: 0px 0;
    color: #fbfafa;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    font-size: 10px;
    padding-left: 350px;
    }
#GLAV2{
    margin-top:0em ;
    color: #fbfafa;
    text-shadow: 3px 3px 1px rgb(9, 9,9);
    font-size: 50px;
    padding-left: 260px;
    
}
 h2{
    color: black;
    text-shadow: 3px 3px 1px rgb(116, 109, 109);
    font-size: 20px;
 }
img{
        display:block ;
        margin: 0 auto ;
    }
body
    {background-image: url(../izb/-food-tableware-fruit-liquid-1920x1080.jpg);
        height: 740px;width: 1080px ,cover;
    }
img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }